<p id="notice"><%= notice %></p>

<p>
  <strong>Regiondescription:</strong>
  <%= @region.RegionDescription %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
